.profile-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px #ccc;
    margin: 1em;
    width: 200px;
    height: 400px;
    float: left;
}
.profile-card__img{
    border-radius: 50%;
    overflow: hidden;
}