@keyframes cardEnter {
    0% {
      opacity: 0;
      transform: scale(0.9);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

.profile-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2em;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px #ccc;
    margin: 1em;
    width: 200px;
    height: 400px;
    float: left;
    &.is-entering {
        opacity: 0;
        transform: scale(0.9);
        animation: cardEnter 0.5s forwards;}
  }
  .profile-card__image {
    width: 100%;
    height: 50%;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
  }
